/* Agrega esto en css/estilos.css */

.logo-img {
    height: 40px; /* Ajusta esto según el tamaño de tu barra */
    width: auto;  /* Mantiene la proporción original */
    vertical-align: middle;
    margin-right: 10px;
}